/* Nav Styles */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}

nav ul li{
    list-style: none;
}

.nav-title{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

.button-primary{
    background-color: #4E47FF;  
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 12px 36px 12px 36px;
}

.header{
    padding: 10px;
    background-image: url("../Assets/Hero-bg.png");
}
.banner{
    text-align: center;
    margin: 309px 267.5px 150px;
}

.head-content{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.about{
    display: flex;
    margin: 148px;
}

.action{
    font-size: 42px;
    font-weight: bold;
}

.action-details{
    font-size: 24px;
    color: #252432;
    opacity: 50%;
}

/* User Section */
.user-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.user-info{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.user-details{
    font-size: 24px;
    color: #252432;
    opacity: 50%;
}