/* Nav Styles */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul li{
    list-style: none;
}

.nav-title{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

.button-primary{
    background-color: #4E47FF;  
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 12px 36px 12px 36px;
}

.banner{
    text-align: center;
}

.head-content{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}